# Ignorar todo por defecto
*

# Permitir solo la carpeta de entrega que pide el README docente
!ENTREGA_GIT_ESTUDIANTE/
!ENTREGA_GIT_ESTUDIANTE/index.html
!ENTREGA_GIT_ESTUDIANTE/styles.css
!ENTREGA_GIT_ESTUDIANTE/script.js

# Permitir este mismo archivo .gitignore
!.gitignore
